body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('MixTooLz\ Images/Background_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo{
    width:30%;
    margin: auto;
    padding: 0px;
}

p{
    position: center;
    color: rgb(234, 144, 1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 50px;
    border: 1px solid gold;
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: fit-content;
    background-color: rgb(250, 244, 117);
    box-shadow: 10px 20px 10px lemonchiffon inset;
    
}

#edit{
  width: 70px;
  height: 35px;
  border: none;
  outline: none;
  display: inline-flex;
}

#home, #pdf{
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 10%;
  padding: 0px;
  margin: 5px;
  background: #353434;
  color:#f1f1f1;
  font-weight: 500;
  display: inline-flex;
}

.collapsible {
    background-color: #fde360;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 0px;
    width: 70%;
    height: 160px;
    border: none;
    text-align: center;
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
  
.active, .collapsible:hover {
    background-color: #f2ffa0;
}
  
.collapsible:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.content1 {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.content button{
  display: block;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  background:#fffecb;
}
  
table, th, td {
    border-bottom: 2px solid #555;
}
  
td {
    padding: 15px;
    text-align: left;
}
  
th {
    padding: 15px;
    text-align: center;
}
  
tr:nth-child(even) {background-color: #eaeaea;}
  
.table1 {
  background-color: #b3b5b3;
  }
  
.table2 {
   background-color: #88ffbeea;
}
  
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 350px;
}
    
.row{
  margin-left: 65px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 18px;
}
  
@media screen and (max-width: 70%) {
  .column {
     width: 100%;
    }
}

.container{
  display: flex;
  justify-content: center;
}

.form-group{
  width: 500px;
  border: none;
  border-radius: 10%;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  text-align: center;
  background: #fdffeeea;
  box-shadow: 10px 20px 10px rgb(255, 227, 167);
}

.wall form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster{
  width: 75%;
  background: #fdffeeea;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 10px 20px 10px rgb(255, 227, 167);
}

.poster h2{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: #000;
}

.poster label, .form-group label, .btn-default{
  width: 150px;
  height: fit-content;
  display: block;
  padding: 10px;
  margin: 10px auto;
  font-weight: 600;
  border-radius: 25px;
  background-color: #f5a84a;
  cursor: pointer;
}

.poster input, .form-group input{
  display: none;
}
